<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sluta Snusa</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'slutasnusa/styles/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'slutasnusa/styles/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
      {% include "base_nav.html" %}
      <main class="mdl-layout__content">
        {% block content %} 
        {% endblock %} 
      </main>
    </div>

    <script src="{% static 'slutasnusa/styles/material.min.js' %}"></script>
    </body>

</html>